doctype html
html
  head
    title About Us
  body
    h1 About Us
    p This is the about page of our web application.
    a(href='/') Home
    a(href='/contact') Contact
    a(href='/services') Services