doctype html
html
  head
    title Home Page
  body
    h1 Welcome to the Home Page
    p This is the main page of our web application.
    nav
      ul
        li: a(href='/about') About
        li: a(href='/contact') Contact
        li: a(href='/services') Services
    footer
      p © 2023 My Web App. All rights reserved.